main 
{
    display: grid;
    grid-template-columns: 1fr;
    z-index: 4;
}

header
{
    padding-left: 30px;
    padding-top: 60px;
    color: white;
}

.stocks
{
    padding: 0px 30px;
    display: flex;
    flex-flow: row wrap;
    font-family: 'DotGothic16';
}