.stocks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 15px;
    height: 100%;
    width: 100%;
}

.m-30
{
    margin: 30px;
}

.project-stocks
{
    display: flex;
    padding-top: 15px;
}

.project-tools
{
    display: flex;
    flex-direction: column;
}
.project
{
    width: 500px;
    padding: 15px 0px;
}