@using stocktracer.app.Components

<div class="app">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Stonks Tracer App</a>
        </div>
    </nav>
    
    <header>
        <h1>Welcome to Stonk Tracer App</h1>
        <p>This project is a way to learning something about Blazor and pratice HTML/CSS.</p>
        <p>This project was created after watch the Coding Garden streaming a Javascript application. This application used WebSocket and Protobuf.</p>
        <p>In another live, from the same streamer, he created web app with Javascript where it integrate to Yahoo Web API to get Open-High-Low-Close prices during day</p>
        <AddStockTool EventAddSymbol="AddSymbol"></AddStockTool>
    </header>
    <main>

        <div class="stocks">
        @foreach(var stock in stocks)
        {
            <Stock @key="stock.Symbol" Data="@stock" EventRemoveStock="RemoveStockBySymbol"></Stock>   
        }
        </div>
    </main>

</div>