<div class="input-group add-stock-container">
  <input type="text" placeholder="Add new symbol." class="form-control" id="symbol" @bind="Symbol" aria-describedby="add-symbol">
  <button id="add-symbol" type="button" class="btn btn-primary" @onclick="AddSymbolAsync">Add</button>
</div>
