.stock
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-stock
{
    display: flex;
}

.badges
{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.badges span
{
    margin: 0px 5px;
    flex-grow: 1;
}

.badge-update
{
    flex-grow: 2 !important;
}

.badge-update:hover 
{
    cursor: pointer;
}

.price
{
    font-size: 10vmin;
    width: auto;
    display: flex;
    justify-content: center;
}

.price-red
{
    color: deeppink;
}

.price-green
{
    color: aquamarine;
}